@CHARSET "ISO-8859-1";
body, html, .container-fluid {

  
   height:305vh
}
#navBar
{
	
height:5vh;

}
#nav1:hover,#nav2:hover,#nav3:hover
{
	background-color:#00ABFF;
	color: white;
	
}
#nav1
{
border:none;
height:100%;
font-size: 150%;
font-style: bold;

}
#nav2
{


	border:none;
	height:100%;
	font-size: 150%;
font-style: bold;
	
}#nav3
{

border:none;
height:100%;
font-size: 150%;
font-style: bold;

	
}
#flight
{
	height:100vh;
	background-image: url("../img/plane2.jpg") ;
background-size: 100% 100%;
	
}
#flightButton
{
	background-color: rgba(60,60,60,.5);
	border-radius:20px;
	margin-top: 20vh;
	height:20vh;
	color: white
}
#flightButton:hover
{
		background-color: rgb(60,60,60);
	
}
#foodButton:hover
{
		background-color: rgb(60,60,60);
	
}
#cabButton:hover
{
		background-color: rgb(255,215,92);
	
}
#foodButton
{
	background-color: rgba(60,60,60,.5);
	border-radius:20px;
	margin-top: 20vh;
	height:20vh;
	color: white
}
#cabButton
{
	background-color: rgba(255,215,92,.7);
	border-radius:20px;
	margin-top: 20vh;
	height:20vh;
	color: black
}
#food
{
	height:100vh;
	background-image: url("../img/food5.jpg");
background-size: 100% 100%;
	
}#cab
{
	height:100vh;
	background-image: url("../img/cab.jpg");
background-size: 100% 100%;

}