
#rebook {
background: url("../images/plane2.jpg") 50% 0 no-repeat fixed;
min-height: 1000px;
 height: 1000px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
}
#rebook article {
  height: 458px;
  position: absolute;
  text-align: center;
  top: 150px;
  width: 100%;
  color: white;
  size: 40px
}
#food {
background: url("../images/food5.jpg") 50% 0 no-repeat fixed;
 min-height: 1000px;
 height: 1000px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
 -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
#food article {
  height: 458px;
  position: absolute;
  text-align: center;
  top: 150px;
  width: 100%;
}
#cab {
background: url("../images/cab.jpg") 50% 0 no-repeat;
 min-height: 1000px;
 height: 1000px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
 -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
#div1
{
border-radius: 25px;
margin-top: 30px;
margin-left: 55%;
width: 30%;
height: 50px;
background-color: #ffffff;
padding: 50px;
text-align: center;
font-size: 50px;
color: black;
font-style: bold;
position: absolute;
opacity: 0.5;

}
#div2
{
border-radius: 25px;
margin-top: 30px;
margin-left: 10%;
width: 30%;
height: 50px;
background-color: #514C54;
padding: 50px;
text-align: center;
font-size: 50px;
color: white;
font-style: bold;
position: absolute;
opacity: 0.7;

}

#div3
{
border-radius: 25px;
margin-top: 100px;
margin-left: 55%;
width: 30%;
height: 50px;
background-color: #ffd75c;
padding: 50px;
text-align: center;
font-size: 50px;
color: black;
font-style: bold;
position: absolute;
opacity: 0.7;

}
.label
{
font-size: 100%;
opacity:1;
}